@model PlaceNode

@{
    ViewBag.Title = "Create";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Home" asp-action="Create" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <p>Are you sure you want to scrape the net for location data? This might take 30-60 seconds.</p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
