@model List<PlaceNode>

@{ 
    ViewBag.Title = "PlaceNodes";
}

<h2>PlaceNodes</h2>

<p>
    <a asp-controller="Home" asp-action="Create">Create</a>
    <a asp-controller="Home" asp-action="Destroy">Destroy</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th># of occurrences</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceNodeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                <span class="badge">@{
                    if (item.StatesThatHaveThisPlace != null)
                    {
                        @Html.DisplayFor(modelItem => item.StatesThatHaveThisPlace.Count)
                    }
                }</span>
                <span class="badge">@Html.DisplayFor(modelItem => item.numberOfStatesThatHaveThisPlace)</span>
            </td>
        </tr>
    }
</table>