################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LocationAnalyzer/v14/.suo
/LocationAnalyzer/bin/Debug
/LocationAnalyzer/obj/Debug
