
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    @{
        foreach (var duplicate in ViewBag.duplicates)
        {
            <h3>Found duplicate of @duplicate.Place in: </h3>
            foreach (var state in @duplicate.StatesThatHaveThisPlace)
            {
                <div class="panel-body">@state</div>
            }
        }
    }
</body>
</html>
