
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <!-- jQuery library -->
    <script src="~/scripts/jquery-1.9.1.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="~/scripts/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
    @{
        foreach (var duplicate in ViewBag.duplicates)
        {
            <div class="btn-group-vertical">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @duplicate.Place
                    <span class="badge">(@duplicate.StatesThatHaveThisPlace.Count)</span>
                </button>
                <ul class="dropdown-menu">
                    @{ 
                        foreach (var state in @duplicate.StatesThatHaveThisPlace)
                        {
                            <li><a href="#">@state</a></li>
                        }
                    }
                </ul>
            </div>

            <br />
        }
    }
</body>
</html>
